# From `Bot > Token` | https://discord.com/developers/applications
DISCORD_TOKEN=''
# From `General Information > App ID` | https://discord.com/developers/applications
DISCORD_APP_ID=''

# AI
AI_API_KEY=''
AI_BASE_URL=''
AI_GLOBAL_MODEL=''
AI_ATTACHMENT_MODEL=''

# Secret used to sign developer auth keys
DEV_AUTH_SECRET='' # openssl rand -base64 32
